@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary: #061121;
    --basket: rgb(76, 76, 155);
    --secondary: #01E1FF;
    --light: #fff;
    --dark: #000;

    --transition: .3s ease;
    --lineHeight: 32px;
    --bodyFonts: 'Roboto', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--bodyFonts);
    line-height: var(--lineHeight);
}

.bg-bodyColor {
    background-color: var(--primary);
}

.hr {
    width: 250px;
    margin: auto;
    height: 4px;
    background-color: var(--secondary);
}



/* our JS - Grocery List */

.container h1 {
    margin-top: 200px;
    color: var(--basket);
}

.basket {
    font-size: 50px;
    margin-top: 25px;
    color: var(--basket);
    
}

.basket:hover {
    color: green;
    transition: .3s linear;
}

.clear {
    color: var(--basket);
    font-size: xx-large;
}

.clear:hover {
    color: red;
    transition: .3s linear;
}

td {
    font-size: 32px;
}

td:first-child {
    width: 100%;
}

.shoppingBasket {
    display: flex;
    flex-direction: column;
}


.page {
    display: flex;
    justify-content: center;
}

.item {
    margin: 0 10px;
}

.arrows{
    font-size: 30px;
    color: var(--basket);
}

.arrows:hover {
    opacity: 0.8;
    transition: .2s linear;
}



footer img {
    pointer-events: none;
}

/* Responsive */
@media screen and (max-width: 576px) {
    .navbar-brand { 
        flex: 2;
    }

    .cta div {
        align-items: center;
    }
    
    .hr {
        width: 120px;
        height: 3px;
    }
}

